@import url(/styles/index.css);
@import url(/styles/avatar.css);
@import url(/styles/badge.css);
@import url(/styles/utility.css);
@import url(/styles/button.css);
@import url(/styles/card.css);
@import url(/styles/image.css);
@import url(/styles/input.css);
@import url(/styles/list.css);
@import url(/styles/navigation.css);
@import url(/styles/modal.css);
@import url(/styles/ratings.css);
@import url(/styles/snackbar.css);
@import url(/styles/grid.css);

.main-container {
  margin-top: 7rem;
  display: flex;
}

.aside-menu {
  display: none;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

.section-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.aside-menu a {
  line-height: 5rem;
}

.docs-heading {
  margin-left: 2rem;
  margin-top: 8rem;
}

.sample-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .aside-menu {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
  }

  .main-container {
    margin-left: 15%;
  }
}
