@import url(/styles/index.css);

.modal-bg {
  width: 100%;
  background-color: var(--modal-background);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 1;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-box {
  position: relative;
  background-color: var(--secondary-color);
  width: 30%;
  height: 30%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
