/* Border */
.border-2 {
  border: 2px solid var(--primary-color);
}
.border-primary {
  border-color: var(--primary-color);
}
.border-solid {
  border-style: solid;
}

.border-green-600 {
  border-color: rgb(22 163 74);
}
/* Code */
code {
  color: blue;
}

/* Flex */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col-al-str {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

/* Height */

.h-screen {
  height: 100vh;
}

/* Layout */

.top-0 {
  top: 0px;
}

.left-0 {
  left: 0px;
}

/* Margin */

.mx-4 {
  margin: 0 1rem;
}

.mx-8 {
  margin: 0 2rem;
}

.my-2 {
  margin: 0.5rem 0;
}

.my-4 {
  margin: 1rem 0;
}

.my-8 {
  margin: 2rem 0;
}

.my-8p {
  margin: 8px 0;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}
.mb-8 {
  margin-bottom: 2rem;
}

.m-8 {
  margin: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

/* Position */

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

/* Padding */
.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding: 0 1rem;
}

.p-8p {
  padding: 8px;
}

.large-heading {
  font-size: 5rem;
}

.fs-1 {
  font-size: 0.25rem;
}

.fs-2 {
  font-size: 0.5rem;
}

.fs-3 {
  font-size: 0.75rem;
}

.fs-4 {
  font-size: 1rem;
}
.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1.5rem;
}

.fs-7 {
  font-size: 1.75rem;
}

.fs-8 {
  font-size: 2rem;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.lh-10 {
  line-height: 2.5rem;
}

.text-gray-900 {
  color: var(--grey-900);
}

.text-center {
  text-align: center;
}

.outline-none {
  outline: 2px solid transparent;
}

.link-secondary-color {
  text-decoration: none;
  color: var(--secondary-color);
}
