code {
  color: blue;
}
.large-heading {
  font-size: 5rem;
}
.ml-2 {
  margin-left: 2rem;
}

.fs-s {
  font-size: 1.2rem;
}

.fs-sm {
  font-size: 1.4rem;
}

.fs-m {
  font-size: 1.6rem;
}

.fs-ml {
  font-size: 1.8rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-xl .mr-1 {
  margin-right: 1rem;
}
.mx-1 {
  margin: 0 1rem;
}

.my-xs {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.lh-25p {
  line-height: 25px;
}
.m-2 {
  margin: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-xs {
  margin-bottom: 0.5rem;
}

.p-1 {
  padding: 1rem;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col-al-str {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.link-secondary-color {
  text-decoration: none;
  color: var(--secondary-color);
}
